@'
*-backups/
*.lck
~*
*.kicad_prl
fp-info-cache
_autosave-*


/hardware/output/
/hardware/output.zip
/hardware/gerbers/

.history/
.history_old/
.vscode/
*.swp
*~
Thumbs.db
Desktop.ini


.gitignore

# Build artifacts
firmware/Debug/*.elf
firmware/Debug/*.map
firmware/Debug/*.list
firmware/Debug/default.size.stdout
firmware/Debug/**/*.o
firmware/Debug/**/*.d
firmware/Debug/**/*.su
firmware/Debug/**/*.cyclo